@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    color: var(--fontCol);
    margin-left: calc(78px + 2em);
    background-color: black;
}
:root{
    --fontCol: greenyellow;
    --backCol: #444;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--backCol);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 250px;
}
.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
    color: var(--fontCol);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
  .sidebar.active .logo-details .icon,
  .sidebar.active .logo-details .logo_name{
    opacity: 1;
}
.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.active .logo-details #btn{
    text-align: right;
}
.sidebar i{
    color: var(--fontCol);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
}
.sidebar ul{
    padding: 0px;
}
.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--fontCol);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    color:black;    
}
.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.active li .tooltip{
    display: none;
}
.sidebar input{
    font-size: 15px;
    color: var(--fontCol);
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #888;
}
.sidebar.active input{
    padding: 0 20px 0 50px;
    width: 100%;
}
.sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #888;
    color: var(--fontCol);
    transition: all 0.5s ease;
}
.sidebar.active .bx-search:hover{
    background: var(--fontCol);
    color: var(--backCol);
    transition: all 0.5s ease;
}
.sidebar .bx-search:hover{
    background: var(--fontCol);
    color: var(--backCol);
    transition: all 0.5s ease;
  }
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--backCol);
}
.sidebar li a:hover{
    background: var(--fontCol);
}
.sidebar li a .links_name{
    color: var(--fontCol);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.active li a .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar li a:hover .links_name, .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: var(--backCol);
}
.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
@media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
}
::placeholder{
    color: var(--fontCol);
}

::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    background: hsl(120 75% 50% /1);
}

::-webkit-scrollbar-thumb{
    background: hsl(120 75% 20% /1);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background: hsl(120 75% 10% /1);
}